@using WebApi.ViewModels.Request;
@model ArticuloCategoriaViewModel
@{
    ViewData["Title"] = "Editar artículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h3 class="text-center">Editar artículo</h3>
<form method="post" asp-action="Editar">

    <!--Importante para editar-->
    <input type="hidden" asp-for="Articulo.Id" />

    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 mt-4">


            <span asp-validation-for="Articulo.Titulo" class="text-danger"></span>
            <div class="form-floating mb-3">
                <input asp-for="Articulo.Titulo" type="text" class="form-control" id="floatingInput" placeholder="Título" />
                <label for="floatingInput">Título</label>
            </div>

            <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
            <div class="form-floating mb-3">
                <input asp-for="Articulo.Descripcion" type="text" class="form-control" id="floatingInput" placeholder="Descripción" />
                <label for="floatingInput">Descripción</label>
            </div>

            <span asp-validation-for="Articulo.Calificacion" class="text-danger"></span>
            <div class="mb-3">
                <label for="customRange1" class="form-label">Calificación: </label>
                <input type="text" id="textInput" value="0" disabled>
                <input asp-for="Articulo.Calificacion" type="range" class="form-range" onchange="updateTextInput(this.value);" min="1" max="5">
            </div>

            <span asp-validation-for="Articulo.Fecha" class="text-danger"></span>
            <div class="mb-3">
                <label>fecha</label>
                <input asp-for="Articulo.Fecha" class="form-control" />
            </div>

            <span asp-validation-for="Articulo.Calificacion" class="text-danger"></span>
            <div class="mb-3">
                <span asp-validation-for="Articulo.CategoriaID" class="text-danger"></span>
                @Html.DropDownListFor(u => u.Articulo.CategoriaID, Model.ListaDeCategorias, "--Seleccione una Categoria--",
                new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <a asp-action="Index">Volver a lista</a>
        </div>
        <div class="col-5 offset-4">
            <button type="submit" class="btn btn-primary form-control">Editar</button>
            &nbsp;
        </div>
    </div>
</form>

<script>
    function updateTextInput(val) {

        document.getElementById('textInput').value = val;

        }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }